h1 {
    color: navy;
    font-size: 36px;
    }

h2 {
    color: red;
    font-size: 26px;
    }

p {
    color: steelblue;
    font-size: 16px;
    width: 650px;
    }

button:hover {
    background-color: steelblue;
    }
a:link{
    color: blue;
    }
a:visited{
    color: darkviolet;
    }
